# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Fichiers
allCategories.csv
oneCategory.csv
oneProduct.csv
booksUrls.txt
oneProduct.txt
p2_categorie.csv
p2_livre.csv
p2_site.csv
p2.py

# Dossier
images
images/