# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Fichiers csv
allCategories.csv
oneCategory.csv
oneProduct.csv
p2_categorie.csv
p2_livre.csv
p2_site.csv
p2.py

# Fichiers csv
booksUrls.txt
oneProduct.txt
categsUrls.txt
allBooksUrls.txt


# Dossier
images
images/
.DS_Store